<h2><%= t('.profile', resource: User.model_name.human) %></h2>

<p>
  <strong><%= User.human_attribute_name('email') %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t('following') %>:</strong>
  <%= link_to @user.following.count, user_following_path(@user) %>
</p>

<p>
  <strong><%= t('followers') %>:</strong>
  <%= link_to @user.followers.count, user_followers_path(@user) %>
</p>

<p>
  <strong><%= User.human_attribute_name('postcode') %>:</strong>
  <%= @user.postcode %>
</p>

<p>
  <strong><%= User.human_attribute_name('address') %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name('introduction') %>:</strong>
  <%= @user.introduction %>
</p>

<p>
  <strong><%= User.human_attribute_name('icon') %>:</strong>
  <%= image_tag @user.icon if @user.icon.attached? %>
</p>

<%= link_to t('devise.shared.links.back'), :back %>
