<table>
  <thead>
    <tr>
      <th><%= Book.human_attribute_name(:user_id) %></th>
      <th><%= Book.human_attribute_name(:title) %></th>
      <th><%= Book.human_attribute_name(:memo) %></th>
      <th><%= Book.human_attribute_name(:author) %></th>
      <th><%= Book.human_attribute_name(:picture) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <% user = User.find(book.user_id) %>
      <tr>
        <td><%= link_to user.email, user_path(user.id) %></td>
        <td><%= book.title %></td>
        <td><%= book.memo %></td>
        <td><%= book.author %></td>
        <td><%= image_tag(book.picture_url(:thumb)) if book.picture.present? %></td>
        <td><%= link_to t(:show), book %></td>
        <td><%= link_to t(:edit), edit_book_path(book) %></td>
        <td><%= link_to t(:destroy), book, method: :delete, data: { confirm: t(:confirm) } %></td>
      </tr>
    <% end %>
    <%= paginate @books %>
    <%= t(:showing_items, items: @books.total_count, from: @books.offset_value + 1, to: @books.offset_value + @books.length) %>
  </tbody>
</table>

<br>

<%= link_to t(:new_book), new_book_path %>
