<p>
  <strong><%= Report.human_attribute_name('title') %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name('content') %>:</strong>
  <%= @report.content %>
</p>

<p>
  <strong><%= Report.human_attribute_name('user') %>:</strong>
  <%= @report.user_id %>
</p>

<%= link_to I18n.t('edit'), edit_report_path(@report) %> |
<%= link_to I18n.t('back'), reports_path %>
