<p>
  <strong><%= Report.human_attribute_name('created_at') %>:</strong>
  <%= I18n.l(@report.created_at.to_date, format: :long) %>
</p>

<p>
  <strong><%= Report.human_attribute_name('user') %>:</strong>
  <%= link_to User.find(@report.user_id).email, user_path(@report.user_id) %>
</p>

<p>
  <strong><%= Report.human_attribute_name('title') %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name('content') %>:</strong>
  <%= @report.content %>
</p>

<p>
  <strong><%= Comment.model_name.human %></strong>
  <br>
  <%= render 'comments/comments', comments: @comments %>
</p>

<%= render 'comments/form', comment: @comment, id: @report.id, type: @report.class.to_s %>

<% if current_user == @report.user %>
  <%= link_to I18n.t('edit'), edit_report_path(@report) %> |
<% end %>
<%= link_to I18n.t('back'), reports_path %>
